[
    {lager, [
        {log_root, "logs"},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}, {size, 10485760}]},
            {lager_file_backend, [{file, "debug.log"}, {level, debug}, {size, 10485760}]}
      ]}
    ]}
].
