{erl_opts, [fail_on_warning,
           debug_info,
           warn_unused_vars,
           warn_unused_import,
           warn_exported_vars,
           {platform_define, "^((1[89])|2)", deprecated_now}]}.

{deps, [
	{eiconv, "1.0.0-alpha1"},
    {gen_smtp, ".*", {git, "git://github.com/YtoTech/gen_smtp.git", {branch, "master"}}},
    {jiffy, "0.14.*"},
    {nested, ".*", {git, "git://github.com/odo/nested.git", {branch, "master"}}}
]}.

{dialyzer, [
    {warnings, [underspecs]},
    {base_plt_apps, [stdlib, kernel, crypto, eiconv, gen_smtp, jiffy, nested]}
]}.

{profiles, [
    {demo, [
        {relx, [
            {release, {"GeoSensorsGatewayDemo", "0.0.1"},
                [geo_sensors_gateway]
            },

            {dev_mode, true},
            {include_erts, false},

            {extended_start_script, true}
        ]}
    ]},
    {prod, [
        {relx, [
            {release, {"GeoSensorsGateway", "0.0.1"},
                [geo_sensors_gateway]
            },

            {dev_mode, false},
            {include_erts, true},

            {extended_start_script, true}
        ]}
    ]},
    {dev, [
        % TODO How does auto really work?
        {plugins, [rebar3_auto]}
    ]}
]}.
