{erl_opts,
    [
        fail_on_warning,
        debug_info,
        warn_unused_vars,
        warn_unused_import,
        warn_exported_vars,
        {platform_define, "^((1[89])|2)", deprecated_now},
        {parse_transform, lager_transform}
    ]
}.

{deps, [
    {eiconv, "1.0.0-alpha1"},
    {gen_smtp, "0.14.0", {git, "git://github.com/gen-smtp/gen_smtp.git", {branch, "master"}}},
    {jsone, "1.4.7"},
    {nested, "0.1.2"},
    {hackney, "1.13.0"},
    {iso8601, "1.3.1"},
    {lager, "3.6.4"},
    {backoff, "1.1.6"}
]}.

{dialyzer, [
    {warnings, [underspecs]},
    {base_plt_apps, [stdlib, kernel, crypto, eiconv, gen_smtp, jiffy, nested]}
]}.

{profiles, [
    {demo, [
        {relx, [
            {release, {"GeoGatewayDemo", "0.0.1"},
                [geo_gateway]
            },

            {dev_mode, true},
            {include_erts, false},

            {extended_start_script, true},

            {sys_config, "priv/conf/app.config"}
        ]}
    ]},
    {prod, [
        {relx, [
            {release, {"GeoGateway", "0.0.1"},
                [geo_gateway]
            },

            {dev_mode, false},
            {include_erts, true},

            {extended_start_script, true},

            {overlay, [
                {mkdir, "dumps"},
                {copy, "priv/conf/configuration.json", "priv/conf/configuration.json"}
            ]},

            {sys_config, "priv/conf/app.config"}
        ]}
    ]},
    {dev, [
        {plugins, [rebar3_auto]},
        {relx, [
            {sys_config, "priv/conf/app.config"}
        ]}
    ]}
]}.
